@layer components {
  .rich-text-container p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: rgb(26, 26, 26);
  }

  .rich-text-container h2 {
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
}
