@import "tailwindcss";

@theme {
  --color-orange-1: #d77b00;
  --bg-orange-2: #d53500;
  --color-gray-line: #d7d7d7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background-color: white;
  color: black;
}

p {
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
    color: #ededed;
  }
  p {
    color: #ededed;
  }
}